# Task Description

In [1]:
# The task would be to test a long-only stock-based carry/value strategy.

# Carry strategy in stocks would be to long high dividend yield stocks and short the reverse (in this case no need to do short).
# Whole value strategy you should be familiar with.

# Carry trade in rate hike periods work pretty well (for fx especially). We are interested in whether the same hold for value. 
# The underlying assets would be S&P 500 stocks.

# Please take into account that some companies do stock repurchase instead of cash dividend.
# You could try to find adjusted dividend yield data. Time horizon is up to you, but keep in mind potential survivorship bias.
# It might be interesting to check the strategy performance during different periods. 
# Remember to make the backtest a way that they could be implemented (not longing 100 stocks at the same time). 
# Have a nice night and good luck with your presentation on Monday.

# Setup

## Load Packages

In [2]:
#### Import required Packages ####
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import scipy as sp
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import sklearn as sk
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error # to calculate the MSE
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import cross_val_score

from statsmodels.graphics.tsaplots import plot_acf # To produce ACF plots
from statsmodels.graphics.tsaplots import plot_pacf # To produce PACF plots
from statsmodels.tsa.seasonal import seasonal_decompose # To decompose Seasons
from statsmodels.tsa.stattools import adfuller, kpss # Tests for Stationarity
from statsmodels.tsa.ar_model import AutoReg # To produce AR models
from statsmodels.stats.anova import anova_lm # To use ANOVA (compare nested models)
from statsmodels.tsa.arima.model import ARIMA # To build ARMA & ARIMA Models
import statsmodels.stats.diagnostic as dg # To get Breusch-Godfrey Test
from statsmodels.stats.stattools import durbin_watson



from datetime import datetime # to transform variables into datetime objects
import math # simple math functions
from math import sqrt # square root function
import statistics # descriptive statistics library
import scipy.stats as stats # descriptive statistics library from scipy
import matplotlib.dates as mdates # date formatting
from matplotlib.collections import PolyCollection, LineCollection # better plot options

## Useful functions for Matrix calculations

In [3]:
def f(x, y): 
    return x + y                             
vecsum = np.vectorize(f)     # Use pd.DataFrame(vecsum(A,B)) to get df of elementwise sum

In [4]:
def g(x, y): 
    return x - y                             
vecdif = np.vectorize(g)     # Use pd.DataFrame(vecdif(A,B)) to get df of elementwise differences

In [5]:
def h(x, y): 
    return x * y                             
vecmult = np.vectorize(h)    # Use pd.DataFrame(vecmult(A,B)) to get df of elementwise multiplication

In [6]:
def i(x, y): 
    return x / y                             
vecdiv = np.vectorize(i)    # Use pd.DataFrame(vecdiv(A,B)) to get df of elementwise division

### Illustrative Example extra für de Herr Vogel

In [7]:
# Chasch de shit au lösche wenns checkt hesch aber mir hets na easy gholfe
A = [[1, 2, 3], 
    [3, 5, 6],
    [7, 8, 9]]
A = pd.DataFrame(A)
A.columns = ["ret1", "ret2", "ret3"]

B = [[0.2, 0.3, 0.5], 
    [0.1, 0.6, 0.3],
    [0.4, 0.2, 0.4]]
B = pd.DataFrame(B)    
B.columns = ["w1", "w2", "w3"]

In [8]:
A

   ret1  ret2  ret3
0     1     2     3
1     3     5     6
2     7     8     9

In [9]:
B

    w1   w2   w3
0  0.2  0.3  0.5
1  0.1  0.6  0.3
2  0.4  0.2  0.4

In [10]:
pd.DataFrame(vecsum(A,B))

     0    1    2
0  1.2  2.3  3.5
1  3.1  5.6  6.3
2  7.4  8.2  9.4

In [11]:
pd.DataFrame(vecdif(A,B))

     0    1    2
0  0.8  1.7  2.5
1  2.9  4.4  5.7
2  6.6  7.8  8.6

In [12]:
pd.DataFrame(vecmult(A,B))

     0    1    2
0  0.2  0.6  1.5
1  0.3  3.0  1.8
2  2.8  1.6  3.6

In [13]:
pd.DataFrame(vecdiv(A,B))

      0          1     2
0   5.0   6.666667   6.0
1  30.0   8.333333  20.0
2  17.5  40.000000  22.5

## Plotstyle

In [14]:
# Seaborn plot style ticks to have nicer looking plots
sb.set_style("ticks")
sb.mpl.rc("figure", figsize=(16,8))
sb.mpl.rc("font", size=14)
plt.rcParams['xtick.direction'] = 'in'
plt.rcParams['ytick.direction'] = 'in'

## LoadData

In [15]:
# Loading Data

data_px = pd.read_excel("02_Data_clean/SPX_px_clean.xlsx", parse_dates=["Date"])
data_px_yly = pd.read_excel("02_Data_clean/SPX_px_clean_yearly.xlsx", parse_dates=["Date"])
data_bv = pd.read_excel("02_Data_clean/SPX_value_clean.xlsx", parse_dates=["Date"])

# Check
print(type(data_bv))
print(data_bv.dtypes)

<class 'pandas.core.frame.DataFrame'>
Date                  datetime64[ns]
AEE UN Equity                float64
ITT UN Equity                float64
UN UN Equity                 float64
APD UN Equity                float64
                           ...
NTAP UQ Equity               float64
CTXS UQ Equity               float64
9990253D UN Equity           float64
0948669D UN Equity           float64
CMCSK UQ Equity              float64
Length: 501, dtype: object

In [16]:
data_px

,Date,AEE UN Equity,ITT UN Equity,UN UN Equity,APD UN Equity,RDPL UN Equity,GOLD UN Equity,VZ UN Equity,CAT UN Equity,CVX UN Equity,...,PTC UQ Equity,QCOM UQ Equity,SPLS UQ Equity,XLNX UQ Equity,1519128D UQ Equity,NTAP UQ Equity,CTXS UQ Equity,9990253D UN Equity,0948669D UN Equity,CMCSK UQ Equity
0,1999-12-31,32.7500,5.5436,18.1458,31.0287,60.4375,17.6875,55.1812,23.5313,43.3125,...,67.6563,88.0625,13.8333,45.4688,35.7712,41.5313,48.9718,19.8750,23.6250,33.7083
1,2000-01-07,33.9375,5.6679,19.7500,33.7444,63.0625,17.3125,52.7163,26.6563,45.1250,...,48.2813,75.0000,16.8750,45.4375,27.1885,42.5000,44.4429,19.6250,22.1875,29.9583
2,2000-01-14,33.4375,5.6472,18.6875,29.9308,61.1875,16.9375,50.4754,25.9688,43.5000,...,49.5313,70.2188,17.2917,48.1875,25.9281,46.8438,53.9735,19.4375,23.5000,34.4167
3,2000-01-21,33.2500,5.4296,16.9792,26.7528,59.7500,17.1250,53.8367,23.6875,44.3438,...,53.5938,77.4688,15.7917,47.4375,24.7277,58.5625,59.5475,20.1875,22.6875,35.2500
4,2000-01-28,32.3125,5.2016,15.3333,27.5618,54.1250,16.3125,51.6519,21.7500,41.2813,...,52.0313,55.2813,14.3333,43.1875,21.2466,49.5938,53.6997,19.1250,22.3125,30.4167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,2022-11-04,81.0300,75.6200,60.5000,276.0600,61.1600,14.2000,37.2400,227.8500,183.4200,...,124.2400,106.6900,10.2500,194.9200,10.3500,68.7900,103.9000,90.5400,18.9900,58.0000
1193,2022-11-11,83.3200,82.6000,60.5000,288.4600,61.1600,16.4400,38.3000,236.4900,186.4600,...,131.9200,121.4300,10.2500,194.9200,10.3500,73.5000,103.9000,90.5400,18.9900,58.0000
1194,2022-11-18,86.1800,84.2900,60.5000,296.4800,61.1600,15.6200,38.5500,231.4300,182.9900,...,123.3000,123.8500,10.2500,194.9200,10.3500,73.7200,103.9000,90.5400,18.9900,58.0000
1195,2022-11-25,88.8100,84.5800,60.5000,309.9100,61.1600,16.0200,39.0200,235.7000,183.7000,...,124.6300,123.4500,10.2500,194.9200,10.3500,74.6600,103.9000,90.5400,18.9900,58.0000
1196,2022-12-02,88.0400,84.7500,60.5000,318.4400,61.1600,16.9800,38.1800,236.1300,181.0300,...,126.4700,125.6600,10.2500,194.9200,10.3500,66.4300,103.9000,90.5400,18.9900,58.0000

## Data Cleaning

In [17]:
# Resample monthly returns
data_px.set_index("Date", inplace=True) # set datetimeindex
data_bv.set_index("Date", inplace=True) # set datetimeindex
semian_ret = data_px.pct_change(fill_method = None).resample("2BQ").agg(lambda x: ((1+x).prod()-1)) # pct_change creates ordinary returns, resample Monthly and aggregating with the (1+x) -1 formula to get monthly ordinary returns
# df = pd.concat([data, data2], axis=1) # concating dfs

In [18]:
# Drop first row as it was only to set the anchor for the resample function for December and June

# Sau müehsam dass wenns mehrmals renne lahsch immer wieder e row meh verlürsc
semian_ret = semian_ret.iloc[1: , :]

In [19]:
semian_ret

,AEE UN Equity,ITT UN Equity,UN UN Equity,APD UN Equity,RDPL UN Equity,GOLD UN Equity,VZ UN Equity,CAT UN Equity,CVX UN Equity,KO UN Equity,...,PTC UQ Equity,QCOM UQ Equity,SPLS UQ Equity,XLNX UQ Equity,1519128D UQ Equity,NTAP UQ Equity,CTXS UQ Equity,9990253D UN Equity,0948669D UN Equity,CMCSK UQ Equity
Date,,,,,,,,,,,,,,,,,,,,,
2000-06-30,0.030534,-0.091601,-0.210104,-0.081937,0.018614,0.028269,-0.174619,-0.280214,-0.020922,-0.013947,...,-0.593534,-0.659333,-0.259034,0.815806,-0.721477,0.938297,-0.692074,0.223270,-0.195767,-0.199010
2000-12-29,0.372222,0.275726,0.463669,0.330629,-0.016244,-0.099381,-0.013529,0.396682,-0.004422,0.060936,...,0.221593,0.369793,-0.231707,-0.441332,-0.397587,-0.202640,0.188120,0.169666,-0.503289,0.030863
2001-06-29,-0.078003,0.141945,-0.053505,0.115854,-0.037853,-0.075092,0.067332,0.057858,0.071797,-0.261540,...,0.041115,-0.288457,0.353651,-0.105908,1.238391,-0.786563,0.551112,0.090110,0.165563,0.039521
2001-12-31,-0.007494,0.159320,-0.030554,0.026667,-0.145529,0.042904,-0.097757,0.062737,-0.000663,0.048222,...,-0.468906,-0.114227,0.200750,-0.005820,-0.142959,0.675182,-0.328080,-0.155806,0.270000,-0.161060
2002-06-28,0.014866,0.376214,0.122078,0.074514,0.110062,0.201899,-0.168222,-0.079714,-0.021451,0.187195,...,-0.538358,-0.469305,0.026039,-0.452927,-0.493747,-0.457952,-0.742430,-0.030187,0.192555,-0.345235
2002-12-31,-0.036736,-0.150563,-0.084875,-0.158906,-0.214583,-0.170616,-0.031132,-0.079469,-0.255367,-0.223750,...,-0.276968,0.355766,-0.079188,-0.056175,-0.293241,-0.130225,1.096016,-0.222222,-0.030612,-0.065852
2003-06-30,0.064205,0.076038,-0.089211,-0.032508,0.077171,0.117460,0.019537,0.239015,0.098331,0.069933,...,0.225806,-0.035686,0.020954,0.201228,0.344977,0.482440,0.635860,0.144883,0.223529,0.311180
2003-12-31,0.030619,0.144423,0.158121,0.273678,0.094525,0.277841,-0.144980,0.499373,0.158055,0.074178,...,0.305921,0.475515,0.415220,0.508455,0.043332,0.301122,0.043945,0.351770,0.069332,0.046233
2004-06-30,-0.036092,0.132429,0.085530,-0.005926,0.021493,-0.087594,0.054851,-0.066420,0.114173,0.002802,...,0.209068,0.320762,0.129724,-0.148071,0.172756,0.032583,-0.080943,0.019313,0.041174,-0.092308
2004-12-31,0.144749,0.009809,-0.017523,0.114808,0.097552,0.180312,0.132511,0.247729,0.124532,-0.169062,...,0.227083,0.210737,0.138465,-0.092717,-0.083573,0.541531,0.234523,-0.073860,0.152273,0.184273
2005-06-30,0.086957,0.152633,-0.025786,0.026738,0.102300,0.028902,-0.149098,-0.006666,0.079604,0.013692,...,0.078098,-0.208019,-0.040194,-0.118718,0.060292,-0.126129,-0.094988,-0.089459,0.045759,-0.079170
2005-12-30,-0.059817,0.056296,0.056316,-0.005545,-0.033043,0.118379,-0.126197,0.192856,0.001411,-0.044787,...,-0.039370,0.282906,0.052851,-0.035209,0.307573,-0.069928,0.296398,0.343107,-0.171256,-0.150461
2006-06-30,-0.014442,-0.037152,-0.014565,0.079912,0.000000,0.062074,0.111886,0.289250,0.093183,0.067229,...,-0.166557,-0.069870,0.070894,-0.101547,-0.253068,0.307407,0.394717,0.179473,-0.043696,0.275978
2006-12-29,0.063960,0.147882,0.208426,0.099499,0.000000,0.037162,0.154001,-0.176557,0.184821,0.121571,...,0.417781,-0.056900,0.097862,0.051214,0.243286,0.112748,-0.326108,-0.119231,0.136126,0.277610
2007-06-29,-0.087847,0.201685,0.138349,0.143570,0.000000,-0.053094,0.105529,0.276700,0.145655,0.084145,...,0.199223,0.148187,-0.111236,0.124318,0.423775,-0.256619,0.244735,0.240448,0.186845,0.001433
2007-12-31,0.110590,-0.030168,0.196970,0.260918,0.000000,0.475060,0.083800,-0.065645,0.126068,0.190403,...,-0.161962,-0.088039,-0.029077,-0.181173,-0.255488,-0.132877,0.125631,-0.040264,-0.296152,-0.349785
2008-06-30,-0.240125,-0.063424,-0.247778,-0.026840,0.000000,0.049440,-0.228292,0.008065,0.030993,-0.167496,...,-0.053009,0.153652,0.039931,0.152828,0.078154,-0.126777,-0.213722,-0.128840,-0.371113,0.013751
2008-12-31,-0.221712,-0.281038,-0.131400,-0.527378,0.000000,-0.204444,-0.031797,-0.420746,-0.280675,-0.140046,...,-0.306122,-0.245783,-0.266694,-0.355362,-0.309874,-0.430574,-0.232214,-0.589474,-0.465710,-0.190993
2009-06-30,-0.237962,-0.013236,0.015251,0.398628,0.000000,-0.021508,-0.066286,-0.191011,-0.062544,0.079632,...,0.004202,0.341563,0.165054,0.239411,0.050228,0.540905,0.395980,0.410256,0.597015,-0.067069
2009-12-31,0.163066,0.152275,0.323183,0.255101,0.000000,0.151870,0.076480,0.687789,0.174071,0.193434,...,0.410042,-0.001948,0.218368,0.256067,0.081149,0.761340,0.319661,0.464091,1.153271,0.172538
2010-06-30,-0.149667,-0.076724,-0.135624,-0.161818,0.000000,0.148203,-0.144187,0.109378,-0.095183,-0.125000,...,-0.005341,-0.252711,-0.195269,0.020110,0.117968,0.163594,0.070463,-0.004967,-0.120226,0.023912
2010-12-31,0.161995,0.113219,0.114661,0.326187,0.000000,0.147852,0.341240,0.447381,0.302455,0.308595,...,0.344272,0.436575,0.134529,0.120216,0.399281,0.382294,0.516177,0.281435,0.093241,0.246108
2011-06-30,0.002483,0.078873,0.013376,0.022430,0.000000,-0.190673,0.006149,0.067798,0.072877,-0.012772,...,0.012428,0.094969,-0.327624,0.195307,-0.194518,-0.104440,0.114458,0.141709,0.069495,0.081211
2011-12-30,0.172328,0.036945,0.080138,-0.083880,0.000000,0.051348,0.114444,-0.094091,0.086823,0.077622,...,-0.199474,0.009411,-0.092750,-0.074480,-0.114891,-0.263104,-0.203568,-0.003839,-0.472152,0.047111
2012-06-29,0.012375,-0.089498,-0.029677,-0.052354,0.000000,-0.169724,0.107677,-0.062804,-0.008459,0.117479,...,0.147864,0.017916,-0.060475,0.047099,0.116588,-0.122691,0.382410,-0.221152,0.168665,0.332767
2012-12-31,-0.096005,0.304545,0.135532,0.027251,0.000000,-0.094756,-0.034653,0.022377,0.009005,-0.079933,...,0.075859,0.088542,-0.148659,0.051832,0.151773,0.031427,-0.233976,0.249863,0.147743,0.121338
2013-06-28,0.135884,0.280923,0.038025,0.104184,0.000000,-0.537195,0.173427,-0.049764,0.111696,0.115096,...,0.087805,0.007754,0.427543,0.121779,-0.032710,0.151127,-0.061742,0.317792,0.085816,0.126669
2013-12-31,0.045296,0.459028,0.017044,0.238725,0.000000,0.109276,-0.023242,0.101588,0.058222,0.013712,...,0.390542,0.208251,-0.004414,0.143398,0.095653,0.077290,0.022211,0.121662,0.042261,0.251323
2014-06-30,0.128056,0.123514,0.086793,0.133827,0.000000,0.032073,0.003051,0.197095,0.040965,0.037629,...,0.126356,0.070325,-0.319823,0.035769,-0.120810,-0.128256,0.041027,0.110549,0.000000,0.082192
2014-12-31,0.169663,-0.147895,-0.079171,0.159474,0.000000,-0.412875,-0.029603,-0.133756,-0.131252,0.018251,...,-0.017699,-0.042664,0.674115,-0.063739,0.081030,0.199267,0.006698,-0.207262,0.000000,0.081348
2015-06-30,-0.205684,0.007546,0.089978,-0.047210,0.000000,0.030246,-0.005015,-0.078637,-0.129360,-0.068901,...,0.104134,-0.144803,-0.107341,0.020036,0.000000,-0.239483,0.097942,0.006084,0.000000,0.052505
2015-12-31,0.157699,-0.118869,-0.001147,-0.062570,0.000000,-0.282569,-0.019110,-0.200875,-0.066430,0.088500,...,-0.150228,-0.233802,-0.400623,0.068080,0.000000,-0.180470,0.073985,-0.182597,0.000000,-0.051358
2016-06-30,0.185668,-0.099260,-0.002755,0.052031,0.000000,1.617647,0.165275,0.052609,0.107007,0.008957,...,0.037842,0.051867,-0.094595,-0.053083,0.000000,-0.067873,0.056948,0.162762,0.000000,0.000000
2016-12-30,0.012937,0.174125,-0.054788,0.110223,0.000000,-0.219345,-0.019291,0.269889,0.155054,-0.056226,...,0.259048,0.250959,0.039036,0.332377,0.000000,0.426780,0.108752,0.274655,0.000000,0.000000
2017-06-30,0.042127,0.041742,0.346079,-0.005284,0.000000,-0.004380,-0.163357,0.158723,-0.113594,0.081766,...,0.191269,-0.153067,0.112707,0.065430,0.000000,0.135526,0.119007,0.100666,0.000000,0.000000
2017-12-29,0.079020,0.328273,0.018998,0.146931,0.000000,-0.090509,0.185177,0.466406,0.199942,0.022965,...,0.102504,0.159363,0.017875,0.048197,0.000000,0.381273,0.105805,0.123961,0.000000,0.000000
2018-06-29,0.031531,-0.020611,-0.010653,-0.050890,0.000000,-0.092605,-0.049499,-0.139040,0.009905,-0.044028,...,0.543689,-0.123399,0.000000,-0.032038,0.000000,0.419559,0.191364,-0.101883,0.000000,0.000000
2018-12-31,0.067214,-0.098718,-0.040201,0.031914,0.000000,-0.000762,0.098589,-0.074151,-0.140631,0.076151,...,-0.122268,0.012295,0.000000,0.292369,0.000000,-0.247549,-0.028997,-0.114689,0.000000,0.000000
2019-06-28,0.156606,0.389938,0.135378,0.408650,0.000000,0.201982,0.033653,0.085025,0.145329,0.078814,...,0.090114,0.339025,0.000000,0.398150,0.000000,0.044170,-0.035953,0.176205,0.000000,0.000000
2019-12-31,0.015843,0.130269,-0.045290,0.040288,0.000000,0.164870,0.077017,0.087974,-0.033269,0.086999,...,-0.155749,0.167346,0.000000,-0.165366,0.000000,-0.004376,0.128897,0.033677,0.000000,0.000000
2020-06-30,-0.096986,-0.231185,-0.059686,0.002251,0.000000,0.408274,-0.136031,-0.174602,-0.281297,-0.212827,...,-0.003299,-0.008784,0.000000,-0.075188,0.000000,-0.283900,0.288654,-0.346667,0.000000,0.000000
2020-12-31,0.109869,0.344288,0.109888,0.136980,0.000000,-0.114805,0.106847,0.467113,-0.013070,0.226532,...,0.586787,0.690411,0.000000,0.559987,0.000000,0.495794,-0.071444,0.364508,0.000000,0.000000
2021-06-30,0.068916,0.196496,0.000000,0.075238,0.000000,-0.087773,-0.041808,0.204667,0.257471,0.016467,...,0.157196,-0.074871,0.000000,-0.069512,0.000000,0.252888,-0.125292,0.197815,0.000000,0.000000
2021-12-31,0.088941,0.116587,0.000000,0.054481,0.000000,-0.090474,-0.078397,-0.044242,0.093663,0.090022,...,-0.126469,0.328514,0.000000,0.604829,0.000000,0.115842,-0.184288,0.104560,0.000000,0.000000
2022-06-30,-0.012358,-0.319307,0.000000,-0.171498,0.000000,-0.011579,-0.019246,-0.102786,0.233660,0.064685,...,-0.071894,-0.315907,0.000000,-0.080696,0.000000,-0.273725,0.021144,-0.109997,0.000000,0.000000
2022-12-30,0.001479,0.218373,0.000000,0.263250,0.000000,-0.095847,-0.250785,0.273007,0.250466,0.020780,...,0.124778,0.004476,0.000000,0.000000,0.000000,-0.005688,0.075681,0.000000,0.000000,0.000000

### Create Book to Market Dataframe

In [20]:
data_px_yly

,Date,AEE UN Equity,ITT UN Equity,UN UN Equity,APD UN Equity,RDPL UN Equity,GOLD UN Equity,VZ UN Equity,CAT UN Equity,CVX UN Equity,...,PTC UQ Equity,QCOM UQ Equity,SPLS UQ Equity,XLNX UQ Equity,1519128D UQ Equity,NTAP UQ Equity,CTXS UQ Equity,9990253D UN Equity,0948669D UN Equity,CMCSK UQ Equity
0,1999-12-31,32.7500,5.5436,18.1458,31.0287,60.4375,17.6875,55.1812,23.5313,43.3125,...,67.6563,88.0625,13.8333,45.4688,35.7712,41.5313,48.9718,19.8750,23.6250,33.7083
1,2000-12-29,46.3125,6.4243,20.9792,37.9047,60.5625,16.3800,44.9293,23.6563,42.2188,...,33.5938,41.0938,7.8750,46.1250,6.0019,64.1875,17.9165,28.4375,9.4375,27.8333
2,2001-12-31,42.3000,8.3723,19.2033,43.3685,49.0200,15.9500,42.5405,26.1250,44.8050,...,19.5250,25.2500,12.4667,39.0500,11.3219,21.8700,18.0439,25.6400,13.7800,24.0000
3,2002-12-31,41.5700,10.0617,20.5700,39.5225,44.0200,15.4100,34.7334,22.8600,33.2400,...,6.3000,18.1950,12.2000,20.6000,4.6094,10.0000,9.8103,19.9300,15.8000,15.0600
4,2003-12-31,46.0000,12.3032,21.6333,48.8415,52.3900,22.7100,31.4438,41.5100,43.1950,...,9.8500,26.9650,18.2000,38.7400,5.8002,20.5300,16.8893,30.7400,21.8700,20.8533
5,2004-12-31,50.1400,14.0009,22.2367,53.5935,57.3800,24.2200,36.3109,48.7550,52.5100,...,14.7250,42.4000,22.4733,29.6500,6.2131,33.2200,19.5330,28.8400,25.3500,21.8933
6,2005-12-30,51.2400,17.0464,22.8833,54.7214,61.1600,27.8700,26.9979,57.7700,56.7700,...,15.2500,43.0800,22.7100,25.2100,8.6139,27.0000,22.9172,35.2700,21.9700,17.1267
7,2006-12-29,53.7300,18.8403,27.2500,64.9741,61.1600,30.7000,34.6415,61.3300,73.5300,...,18.0200,37.7900,26.7000,23.8100,7.9993,39.2800,21.5396,36.6400,23.8700,27.9200
8,2007-12-31,54.2100,21.8974,36.4600,91.1838,61.1600,42.0500,40.6414,72.5600,93.3300,...,17.8500,39.3500,23.0700,21.8700,8.5275,24.9600,30.2669,42.9000,20.3000,18.1200
9,2008-12-31,33.2600,15.2493,24.5500,46.4748,61.1600,36.7700,31.6758,44.6700,73.9700,...,12.6500,35.8300,17.9200,17.8200,6.4820,13.9700,18.7685,17.2400,7.5700,16.1500
10,2009-12-31,27.9500,16.4927,32.3300,74.9403,61.1600,39.3800,30.9563,56.9900,76.9900,...,16.3400,46.2600,24.5900,25.0600,6.9430,34.3900,33.1336,30.6200,21.7900,16.0100
11,2010-12-31,28.1900,17.2785,31.4000,84.0836,61.1600,53.1800,35.7800,93.6600,91.2500,...,22.5300,49.4900,22.7700,28.9800,11.2067,54.9600,54.4741,41.0700,22.1600,20.8100
12,2011-12-30,33.1300,19.3300,34.3700,78.7585,61.1600,45.2500,40.1200,90.6000,106.4000,...,18.2600,54.7000,13.8900,32.0600,7.9897,36.2700,48.3507,46.7100,12.5100,23.5600
13,2012-12-31,30.7200,23.4600,38.3000,77.6768,61.1600,35.0100,43.2700,89.5800,108.1400,...,22.5100,62.0200,11.4000,35.9000,10.4385,33.5500,52.3560,46.2800,16.8900,35.9500
14,2013-12-31,36.1600,43.4200,40.2300,103.3411,61.1600,17.6300,49.1400,90.8100,124.9100,...,35.3900,74.2500,15.8900,45.9200,10.7650,41.1400,50.3653,67.2500,18.9900,49.8800
15,2014-12-31,46.1300,40.4600,39.0400,133.3412,61.1600,10.7500,46.7800,91.5300,112.1800,...,36.6500,74.3300,18.1200,43.2900,10.3500,41.4500,50.8032,58.7000,18.9900,57.5650
16,2015-12-31,43.2300,36.3200,43.3200,120.2872,61.1600,7.3800,46.2200,67.9600,89.9600,...,34.6300,49.9850,9.4700,46.9700,10.3500,26.5300,60.2393,47.8400,18.9900,58.0000
17,2016-12-30,52.4600,38.5700,41.0600,143.8200,61.1600,15.9800,53.3800,92.7400,117.7000,...,46.2700,65.2000,9.0500,60.3700,10.3500,35.2700,71.1166,72.1200,18.9900,58.0000
18,2017-12-29,58.9900,53.3700,56.3200,164.0800,61.1600,14.4700,52.9300,157.5800,125.1900,...,60.7700,64.0200,10.2500,67.4200,10.3500,55.3200,88.0000,89.2200,18.9900,58.0000
19,2018-12-31,65.2300,48.2700,53.8000,160.0500,61.1600,13.5400,56.2200,127.0700,108.7900,...,82.9000,56.9100,10.2500,85.1700,10.3500,59.6700,102.4600,72.1800,18.9900,58.0000
20,2019-12-31,76.8000,73.9100,57.4600,234.9900,61.1600,18.5900,61.4000,147.6800,120.5100,...,74.8900,88.2300,10.2500,97.7700,10.3500,62.2500,110.9000,86.3800,18.9900,58.0000
21,2020-12-31,78.0600,77.0200,60.5000,273.2200,61.1600,22.7800,58.7500,182.0200,84.4500,...,119.6100,152.3400,10.2500,141.7700,10.3500,66.2400,130.1000,77.6600,18.9900,58.0000
22,2021-12-31,89.0100,102.1900,60.5000,304.2600,61.1600,19.0000,51.9600,206.7400,117.3500,...,121.1500,182.8700,10.2500,212.0300,10.3500,91.9900,94.5900,101.7300,18.9900,58.0000

In [21]:
data_px_yly.set_index("Date", inplace=True) # set datetimeindex

In [24]:
data_btm = pd.DataFrame(vecdiv(data_bv,data_px_yly))
data_btm

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.687548,2.255177,NaN,0.396526,NaN,0.593069,0.173405,0.328235,0.312175,0.066077,...,0.072443,0.041892,0.192825,0.120038,0.093066,0.036970,0.030054,NaN,0.821638,0.269750
1,0.503035,2.144498,NaN,0.360660,NaN,0.363339,0.279691,0.344678,0.367843,0.061525,...,0.109996,0.077946,0.321816,0.125596,0.620553,0.038123,0.191617,NaN,1.747709,0.370010
2,0.573714,1.850806,NaN,0.351160,NaN,0.373367,0.281501,0.312739,0.355083,0.096959,...,0.141373,0.137141,0.236743,0.145012,0.279635,0.117128,0.193733,NaN,1.027075,0.425333
3,0.599757,1.230955,NaN,0.432227,NaN,0.399176,0.342336,0.347664,0.445066,0.108978,...,0.290730,0.261550,0.307107,0.279335,0.755586,0.289830,0.372598,NaN,1.034823,1.851919
4,0.581046,1.627601,NaN,0.403004,NaN,0.287442,0.384540,0.212970,0.392958,0.113714,...,0.227858,0.061788,0.268775,0.184734,0.632461,0.192918,0.254445,NaN,0.859031,0.594079
5,0.592603,1.813283,NaN,0.384744,NaN,0.276338,0.373477,0.223296,0.408785,0.158895,...,0.199878,0.062788,0.245959,0.257508,0.628285,0.136246,0.277909,NaN,0.792525,0.570202
6,0.606741,1.730565,NaN,0.414191,NaN,0.256728,0.497176,0.217566,0.494487,0.171268,...,0.237882,0.086611,0.270167,0.315938,0.485216,0.189467,0.300080,NaN,0.920187,-0.051072
7,0.593030,1.661677,NaN,0.392752,NaN,0.535309,0.481218,0.173175,0.433117,0.151283,...,0.287625,0.254573,0.261678,0.251617,0.467053,0.137963,0.380439,NaN,0.846942,0.472658
8,0.597949,1.985222,NaN,0.263554,NaN,0.417018,0.432618,0.196195,0.395121,0.152853,...,0.340090,0.275367,0.351747,0.272506,0.415503,0.158766,0.324173,NaN,0.953148,0.641595
9,0.986106,2.208678,NaN,0.488058,NaN,0.476059,0.463524,0.226535,0.584460,0.195595,...,0.519225,0.339732,0.433901,0.396936,0.561879,0.384338,0.567520,NaN,1.724267,0.869474
10,1.183964,2.571180,NaN,0.346196,NaN,0.388593,0.471419,0.245485,0.594625,0.188916,...,0.394859,0.279706,0.377942,0.309397,0.585006,0.211870,0.361708,NaN,0.739371,0.940381
11,1.140642,2.834008,NaN,0.327944,NaN,0.366704,0.381302,0.180906,0.573641,0.205665,...,0.312264,0.323958,0.423004,0.314890,0.390427,0.183932,0.249966,NaN,0.852956,0.767650
12,0.989408,0.383989,NaN,0.387062,NaN,0.516091,0.316356,0.219597,0.575826,0.199788,...,0.365208,0.359234,0.725918,0.320384,0.603577,0.324682,0.303919,NaN,1.577866,0.741532
13,0.887734,0.325456,NaN,0.429299,NaN,0.626898,0.268066,0.298777,0.648521,0.202406,...,0.347490,0.345327,0.803307,0.313078,0.448503,0.394310,0.319981,NaN,1.262765,0.520139
14,0.745973,0.303957,NaN,0.333789,NaN,0.659092,0.276140,0.359302,0.623830,0.182423,...,0.209763,0.316074,0.591120,0.223145,0.457724,0.283634,0.359621,NaN,1.123123,0.389910
15,0.599850,0.329968,NaN,0.252436,NaN,0.818437,0.063271,0.301826,0.735221,0.164486,...,0.206338,0.277378,0.457224,0.233520,NaN,0.269083,0.266119,NaN,173420.747762,0.360351
16,0.662306,0.419025,NaN,0.270787,NaN,0.834810,0.087261,0.374205,0.901629,0.137565,...,0.211655,0.430725,0.879145,0.217352,NaN,0.386457,0.212981,NaN,174888.362296,0.368978
17,0.558113,0.418348,NaN,0.321190,NaN,0.426020,0.103505,0.241530,0.653801,0.129723,...,0.165922,0.319922,0.624575,0.167567,NaN,0.293014,0.234693,NaN,54419.694576,0.391469
18,0.501992,0.339074,NaN,0.301446,NaN,0.550104,0.199586,0.145444,0.621197,0.087369,...,0.121985,0.011892,NaN,0.138173,NaN,0.156435,0.078478,NaN,NaN,0.254717
19,0.478470,0.430986,NaN,0.313333,NaN,0.480185,0.228774,0.191962,0.754802,0.084027,...,0.126192,0.075335,NaN,0.132331,NaN,0.076114,0.040955,NaN,NaN,0.272805
20,0.426217,0.319742,NaN,0.232586,NaN,0.648440,0.241770,0.179575,0.635804,0.080123,...,0.165380,0.060899,NaN,0.097119,NaN,0.017751,0.058072,NaN,NaN,0.313266
21,0.452039,0.319173,NaN,0.223834,NaN,0.576220,0.279054,0.154459,0.809979,0.081803,...,0.145461,0.058057,NaN,0.082844,NaN,0.046582,0.007035,NaN,NaN,0.339972
22,0.422882,0.254748,NaN,0.194736,NaN,0.705674,0.380389,0.148787,0.614084,0.089811,...,0.161332,0.087870,NaN,NaN,NaN,0.041408,0.046336,NaN,NaN,0.365469